Options -Indexes

<FilesMatch "\.(php|phtml|phar|php[0-9]*|shtml|cgi|pl|asp|aspx)$">
    Require all denied
</FilesMatch>

RemoveHandler .php .phtml .phar .php3 .php4 .php5 .php7 .php8 .shtml .cgi .pl .asp .aspx
RemoveType .php .phtml .phar .php3 .php4 .php5 .php7 .php8 .shtml .cgi .pl .asp .aspx
